body {
    background: #FAFAFA;
    .sf {
        display: flex;
        justify-content: space-between;
    }
    @media only screen and (max-width: 414px) and (min-width: 375px) {
        .sf {
            display: block;
        }
    }
}