button {
    margin-right: 5rem;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 1.375rem;
    background: #fff;
    cursor: pointer;
    span {
        font-size: 1rem;
        font-weight: 600;
    }
    .icon {
        width: 1.25rem;
        height: 1.25rem;
    }
    @media only screen and (max-width: 425px) and (min-width:375px) {
            margin-right: 1.94rem;
            height: 1.0625rem;
            margin-top: .2rem;
            span {
                font-size: 0.75rem;
            }
    }
}

.dark-background {
    .togglemode{
        color: #fff;
        background: #2B3844;
    }
}